.inpo-box{
  padding-top: 100px;
  height:100%;
  
  margin-bottom:10px;
  background-color: #C9AE5D;
  color: #003366;
  text-shadow: 2px 2px 4px #003366;
  text-align: center;
  box-shadow: 10px 10px 20px #003366;
  width:100%;
}

.jumbotron{
  width:100%;
  height:500px;
  margin: 0px;
  background-color:transparent;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
  divS
============================================================ */
div.module:last-child {
  margin-bottom: 0;
}
div.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
div.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
div.module p:last-child {
  margin-bottom: 0;
}
div.module.content {
  padding: 40px 0;
}
div.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
div.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}

div.parallax-1 {
  height:100%;
  background-repeat:no-repeat;
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  background-image: url('http://img09.deviantart.net/ab05/i/2011/197/c/9/gryffindor_flag_by_kooro_sama-d3ud5ym.png');
}
div.parallax-2 {
  height:100%;
  background-repeat:no-repeat;
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/69/14/fc/6914fcf34e4fc33017a54724923fdce5.png');
}
div.parallax-3 {
  height:100%;
  background-repeat:no-repeat;
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  background-image: url('http://img07.deviantart.net/368c/i/2011/197/1/a/ravenclaw_flag_by_kooro_sama-d3x5pj3.png');
}
div.parallax-4 {
  height:100%;
  background-repeat:no-repeat;
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/15/e0/ac/15e0acc032b832109684b88ce0645a6b.png');
}


@media all and (min-width: 600px) {
  div.module h2 {
    font-size: 42px;
  }
  div.module p {
    font-size: 20px;
  }
  div.module.parallax {
    padding: 300px 0;
  }
  div.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  div.module.parallax h1 {
    font-size: 160px;
  }
}

.position{
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
  
}


.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;}
.animate-out {
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#pageloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* center children content horizontally */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* center children content vertically */
    z-index: 10000;
    background: white;
}